
* {
    border: 0;
    padding: 0;
}
$color1:  orange;
$color2: blue;
$color3: green;

img {
    width: 100%;

}

body, h1, h2 {
    text-align: center;
}
#gridthis {
    display: grid;
    grid-template-rows: 20vw auto 10vw;
}


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    min-height: 10vh;

}

header button {
    height: 30px;
    width: 50px;
    
    
}
#headerpage {
    display: grid;
    grid-template-rows: auto;
}
#headerpage1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    >button {
        background-color: $color2;
   
    }
    >button:hover {
        font-size: 2em;
        color: $color3;
    }
}