

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    min-height: 10vh;

}

header button {
    height: 30px;
    width: 50px;
    
    
}
#headerpage {
    display: grid;
    grid-template-rows: auto;
}
#headerpage1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    >button {
        background-color: $color2;
   
    }
    >button:hover {
        font-size: 2em;
        color: $color3;
    }
}