* {
    border: 0;
    padding: 0;
}

img {
    width: 100%;

}

body, h1 {
    text-align: center;
}
#gridthis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 10vh;

}

header button {
    height: 30px;
    width: 50px;
    
    
}
#headerpage {
    display: grid;
    grid-template-columns: 1fr;
}




p {
    font-size: 35px;
    font-family: cursive;
}
h2 {
    text-align: center;
}

.orangetext {
    color: orange;
    text-shadow: 3px 3px 20px green;
}

article .orangetext {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th>img {
    width: 300px;
    height: 300px;
}

#makeitgray {
    filter: grayscale(1
    );
}

#makeitgray+th {
filter: sepia(1);
}

p:hover {
    font-size: 5px;
}

nav:active {
    font-size: 30px;
}

a:link {
    color:brown;
}

a:visited {
    color:black;
}

img:hover {
    filter: invert(20);
}