* {
    border: 0;
    padding: 0;
}

img {
    width: 100%;

}

body, h1, h2 {
    text-align: center;
}
#gridthis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 10vh;

}

header button {
    height: 30px;
    width: 50px;
    
    
}
#headerpage {
    display: grid;
    grid-template-columns: 1fr;
}



p {
    font-size: 35px;
    font-family: cursive;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media only screen and (min-width: 440px){

    #gridthis {
    grid-template-columns: repeat(auto-fit, minmax(700px,1fr));
    }
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(700px,1fr))
    }
    .movetext {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        
    }
    
    #selfadjust {
        order: 2;
        
    }
    #selfadjust2 {
        order: 1;
    }
    #selfadjust3 {
        order: 2
    }
    #selfadjust4 {
        order: 1;
    }
}

@media only screen and (min-width: 1000px){
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 20vh;
    
    }
    #gridthis {
        grid-template-columns: repeat(auto-fit, minmax(1500px,1fr));
        }
        main {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(1500px,1fr))
        }
        .movetext {
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-content: center;
            
        }
        
        #selfadjust5 {
            order: 2
        }
        #selfadjust6 {
            order: 1;
        }

}







a:link {
    color:brown;
}

a:visited {
    color:black;
}

